<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<!--<p th:text="'id: ' + ${weatherReport.id}" />-->
<p th:text="'Request date: ' + ${weatherReport.requestedDate}" />
<!--<p th:text="'Weather date: ' + ${weatherReport.today}" />-->
<p th:text="'city: ' + ${weatherReport.city}" />
<!--<p th:text="'Forecast Today: ' + ${weatherReport.weatherDescription}" />-->
<!--<p th:text="'Temperature (F): ' + ${weatherReport.temperatureFahrenheit}" />-->
<!--<p th:text="'Temperature (C): ' + ${weatherReport.temperatureCelsius}" />-->
<!--<p th:text="'Sunrise Time: ' + ${weatherReport.sunrise}" />-->
<!--<p th:text="'Sunset Time: ' + ${weatherReport.sunset}" />-->
<a href="/weatherReport">Submit another message</a>
</body>
</html>
